* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    font: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background-color: #222222;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/* HOME */
.home {
    height: 100dvh;
    background-color: rgb(43, 43, 43);
    position: relative;
    color: #fff;
    background-image: url(./img/taxi2bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header .enable {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 300px;
}
/* HOME CTA */
.cta {
    padding: 1rem 0;
    background-color: #00000090;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.main-cta {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.wpp-cta {
    font-size: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5rem 3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
   box-shadow:  0 0 5px rgba(0, 255, 0, 0.694);
    margin-top: 1rem;
}

.wpp-cta:hover{
    transform: scale(1.1);
}

.cta h1 {
    font-size: 1.8rem;
    font-weight:700;
}

.cta h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.cta .sub {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cta h3 {
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top:140px;
}

.btn {
    background-color: #0000008f;
    border: solid #ffffffa4 1px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.6;
}

.home-footer {
    position: absolute;
    bottom: 4px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-footer p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 4px;
}

.home-footer span {
    font-size: 1rem;
}

/* PRICE */
.prices-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
}

.prices-title span {
    font-size: 2rem;
}

.prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    color: #000;
}

.price {
    background-color: #ffffff;
    padding: 1rem 0;
    border-radius: 8px;
    padding: 2rem 0;
    color: #000;
    box-shadow:  0 0 5px #fefefeae;
}

.price-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.price-icons span {
    font-size: 3rem;
    color: #000;
}

.price-icons span:nth-child(2) {
    font-size: 1.6rem;
    opacity: 0.7;
}

.price-travel {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2em;
    font-weight: 300;
    color: #000;
}

.price-travel span {
    font-weight: 700;
    color: #000;
}

.price-travel span:nth-child(2) {
    opacity: 0.7;
    font-weight: 300;
}

.price-currency {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
    color: #000;
    border-top: solid #000 1px;
}

.price-currency span {
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
}

.price-currency p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
}

.price-cta {
    padding: 1rem 0;
    text-align: center;
    background-color: rgb(255, 217, 0);
    cursor: pointer;
    color: #000;
    font-weight: 700;
    width: 80%;
    margin: 1rem auto;
    border-radius: 8px;
    transition: opacity 0.2s;
}

.price-cta:hover {
    opacity: 0.6;
}

.price-features {
    padding: 1rem 2rem;
    color: #000;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #000;
}

ul li {
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
}

ul li span {
    color: #000;
}

/* ABOUT US */
h5 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.about-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1rem 0;
}

.about-us-title span {
    font-size: 2rem;
}

.about-us-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.about-us-img img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    max-width: 1200px;
}

.about-us-img p {
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    font-weight: 300;
}

.about-us-info p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.about-us-info strong {
    font-weight: 700;
    font-size: 1.4rem;
}

iframe {
    width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}

.footer-info {
    font-size: 1.4rem;
}
.footer-info p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.footer-logo {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 300px;
}

.rights {
    font-size: 1rem;
    opacity: 0.6;
    text-align: center;
    padding: 1rem 0;
}

@keyframes titilar {
    0% {
        box-shadow: 0 0 5px #ceffab1c;
    }

    50% {
        box-shadow: 0 0 8px #ceffab;
    }

    100% {
        box-shadow: 0 0 5px #ceffab54;
    }
}




/* medias */
@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }

    .logo-img {
        width: 150px;
    }

    .prices {
        grid-template-columns: 1fr;
    }


    
    .about-us-img img {
        height: 250px;
    }

    .footer-logo img {
        width: 180px;
    }
}